<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h2>書籍の編集</h2>
      <%= form_with model: @book, local: true, method: :patch do |f| %>
        <%= f.label:タイトル %><br>
        <%= f.text_field :title, size: "40x20" %><br>
        <%= f.label:感想 %><br>
        <%= f.text_area :body, size: "60x10" %><br>
        <%= f.submit "保存" %>
      <% end %>
      <div><%= link_to "戻る", book_path(@book) %></div>
    </div>
  </div>
</div>