<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'users/info', user: @user %>
      <%= render 'form', book: @newbook %>
    </div>
    <div class="col-8 offset-1">
      <h4><strong>書籍詳細</strong></h4>
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>感想</th>
            <th>投稿者</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td>
              <%= link_to image_tag @user.get_profile_image(30,30) %>
              <%= link_to @user.name, user_path(@user) %>
            </td>
            <td><%= render "favorite", book: @book %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "編集", edit_book_path(@book.id), class: "btn btn-success" %></td>
            <td><%= link_to "削除", @book, method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
      <% @book_comments.each do |book_comment| %>
        <div class="mb-2">
          <%= l book_comment.created_at, format: :short %><br>
          <%= book_comment.user.name %>
          <%= book_comment.comment %><br>
        </div>
      <% end %>
        <div>
          <% form_with(model:[@book,@book_comment], local: true) do |f| %>
          <%= f.text_area :comment, size: "60xx3" %>
          <%= f.submit "コメント投稿" %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
